@import '../../src/layout/variables';


.aboutPage {
    display: grid;
    grid-template-columns: 1fr 2fr;
   
    gap: 10px;

    background-color:$background-color-opacidad;
   
    border-top: 10px solid $border-top;
    padding: 30px 200px;

    .h1About {
        border-bottom: 2px solid black; /* Línea de 2px de grosor y color negro */
      
    }
    
}