
@import '../../src/layout/variables';

.contactPage {
    padding: 30px;
    background-color: $background-color-opacidad;
 border-top: 10px solid rgba(208, 206, 181, 0.6);
  }
  
  .contact-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 10px;
    color: white;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical; // Permitir que el textarea sea redimensionable verticalmente
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: $nav-button-background;
    
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: $nav-button-hover;
    transition: background-color 0.3s ease;
  }
  