$nav-background-color: #333;
$nav-background-color-opacidad :rgba(112, 113, 80, 0.5) ;
$nav-text-color: #fff;
$nav-button-background: #442624;
$nav-button-hover: #621e1e;
$background-color: #acaaa9 ;
$background-color-opacidad: rgba(172, 170, 169, 0.6);
$border-top: rgba(208, 206, 181, 0.6);
$background-color-heading:rgba(208, 206, 181, 0.6);